<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>registrarusuario</servlet-name>
        <servlet-class>mx.ipn.proyectominerva.registrarusuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>iniciarsesion</servlet-name>
        <servlet-class>mx.ipn.proyectominerva.iniciarsesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changePass</servlet-name>
        <servlet-class>mx.ipn.proyectominerva.changePass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeName</servlet-name>
        <servlet-class>mx.ipn.proyectominerva.changeName</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>iniciarsesionadmin</servlet-name>
        <servlet-class>mx.ipn.proyectominerva.iniciarsesionadmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eliminado</servlet-name>
        <servlet-class>mx.ipn.proyectominerva.eliminado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registraradmin</servlet-name>
        <servlet-class>mx.ipn.proyectominerva.registraradmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cambiocontra</servlet-name>
        <servlet-class>mx.ipn.proyectominerva.cambiocontra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cambioname</servlet-name>
        <servlet-class>mx.ipn.proyectominerva.cambioname</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registrarusuario</servlet-name>
        <url-pattern>/registrarusuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>iniciarsesion</servlet-name>
        <url-pattern>/iniciarsesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changePass</servlet-name>
        <url-pattern>/changePass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeName</servlet-name>
        <url-pattern>/changeName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>iniciarsesionadmin</servlet-name>
        <url-pattern>/iniciarsesionadmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eliminado</servlet-name>
        <url-pattern>/eliminado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registraradmin</servlet-name>
        <url-pattern>/registraradmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cambiocontra</servlet-name>
        <url-pattern>/cambiocontra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cambioname</servlet-name>
        <url-pattern>/cambioname</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
